<!DOCTYPE html>
<html lang="en" xmlns:th="htt://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card-header">
        PROMEDIO NOTAS
    </div>
    <div class="card-body">
        <form th:action = "@{/calcularpromedio}" method="post" th:object = "${promediomodel}">
            <input class="form-control form-control-lg" type="number" th:flied = "*{nota1}" placeholder=".form-control-lg" aria-label=".form-control-lg example">
            <input class="form-control form-control-lg" type="number" th:flied = "*{nota2}" placeholder=".form-control-lg" aria-label=".form-control-lg example">
            <input class="form-control form-control-lg" type="number" th:flied = "*{nota3}"  placeholder=".form-control-lg" aria-label=".form-control-lg example">
            <input class="form-control form-control-lg" type="number" th:flied = "*{notaFinal}"  placeholder=".form-control-lg" aria-label=".form-control-lg example">
            <button type="submit" class="btn btn-outline-primary">CALCULAR</button>
        </form>

        <div th:if="${visualizaralerta}" class="alert" th:classappend = "${estilodiagnostico}" role="alert">
            <span th:text="${resultado} ?: ''"></span>
        </div>



    </div>


</div>
</body>
</html>